{% extends "base.html" %}

{% block content %}
    <h1 class="title-opener">Искаш ли да разбереш кои са най-яките спортисти за годината?</h1>
    {% for item in sps %}
        <hr />
        <div class="sportist">
            <ul class="sportist-base-info flex-single">
                <li>
                    <a href="{% url 'sportist-detail' item.pk %}">
                        <h2>{{ item.name }}</h2>
                    </a>
                </li>
                <li>
                    <a href="{% url 'sportist-detail' item.pk %}">
                        <img class="avatar" src="{{ item.image.url }}" />
                    </a>
                </li>
                <li>
                    <b>Age:</b> {{ item.age }}
                </li>
                <li>
                    Sport: {{ item.sport }}
                </li>
                <li>
                    <b>Still playing?:</b> {{ item.still_playing }}
                </li>
            </ul>
            <div class="sps-info flex-single">
                <h2>A few words about him:</h2>
                    {{ item.bio }}
                <h2>Best highlights:</h2>
                <ul>
                {% for high in item.highlights_set.all %}
                    <li><a href="{{high.url}}" target="_blank">{{ high.title }}</a>
                        <p>{{high.description}}</p>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}