{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'reviewing/style/main.css' %}">
</head>
<body>
<header>
    <ul class="head-menu">
        <a href="{% url 'sportists' %}"><li>Home</li></a>
        <li>About Us</li>
        <li>Contacts</li>
    </ul>
</header>
<main>
<div class="single-main">
    <img src="{{ sportist.image.url }}" />
    <h2>{{ sportist.name }}</h2>
    <ul>
        <li><b>Age:</b>{{ sportist.age }}</li>
        <li><b>Sport:</b>{{ sportist.sport }}</li>
        <li><h3>A few words about him:</h3>{{ sportist.bio }}</li>
        <br />
        <li><b>Active:</b>{{ sportist.still_playing }}</li>
    </ul>
</div>
</main>
</body>
</html>