{% load static %}

body {
    background-color: black;
    background-image: url("/static/reviewing/images/main_back.jpg");
    margin: 0px;
    padding 0px;
    font-family: Arial;
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100px;
    background-color: black;
    box-shadow: 0px 1px 3px 3px;
}

.head-menu {
    font-size: 20px;
    font-family: Arial;
    list-style-type: none;
}

.head-menu li {
    float: left;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 30px;
    font-weight: bold;
}

.head-menu li:hover {
    background-color: #efe;
    color: black;
}

main {
    background-color: #fff;
    border-radius: 10px;
    max-width: 60%;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
}

.title-opener {
    text-align: center;
}

.single-main img {
    max-width: 65%;
    max-height: 500px;
    border-radius: 25px;
}

.single-main ul {
    list-style-type: none;
}

.single-main {
    text-align: center;
}

.sportist {
    column-count: 2;
    padding: 30px;
}

.sportist-base-info {
    break-inside: avoid;
    list-style-type: none;
    text-align: center;
}

.sportist-base-info li {
    margin-bottom: 10px;
    max-width: 50%;
}

.cont-avatar {
    text-align: center;
    display: inline-block;
    max-width: 32%;
    max-height: 400px;
    margin: 0px;
    margin-top: 30px;
}

.cont-avatar-2 {
    background-color: black;
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
}