{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'reviewing/style/main.css' %}">
</head>
<body>
<header>
    <ul class="head-menu">
        <a href="{% url 'sportists' %}"><li>Home</li></a>
        <a href="{% url 'about-us' %}"><li>About Us</li></a>
        <a href="{% url 'contacts' %}"><li>Contacts</li></a>
    </ul>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>